<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form class="form-horizontal" action='/add' method="POST">
            <fieldset>
                
                <div class="control-group">
    
                    <label class="control-label" for="product_id">Product_id</label>
                    <div class="controls">
                        <input type="text" id="username" name="product_id" placeholder="" class="input-xlarge">
                        <p class="help-block">Product_id may be alphanumeric</p>
                    </div>
                </div>
    
                <div class="control-group">
    
                    <label class="control-label" for="product_name">Product Name</label>
                    <div class="controls">
                        <input type="text" id="email" name="product_name" placeholder="" class="input-xlarge">
                        <p class="help-block">Provide product name</p>
                    </div>
                </div>
    
                <div class="control-group">
    
                    <label class="control-label" for="password">Product Price</label>
                    <div class="controls">
                        <input type="text" id="password" name="product_price" placeholder="" class="input-xlarge">
                        <p class="help-block">Provide product price</p>
                    </div>
                </div>
    
                    
                <div class="control-group">
    
                    <div class="controls">
                        <button class="btn btn-success">Add</button>
                    </div>
                </div>
            </fieldset>
        </form>
    
</body>
</html>